* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;;
}

button {
    padding: 15px 25px;
    border-radius: 50px;
    background: transparent;
    border: 1.5px solid #bbb;
    margin: 60px 0 0 20px;
}

button:hover {
    background: #138013;
    transition: all .5s ease-in-out;
    cursor: pointer;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, .5);
}

/* //////////////////// */
#hero-img {
    background: url('img/bg1.jpeg');
    background-size: cover;
    background-position: center;
    height: 115vh;
    position: relative;
}

#events {
    color: #fff;
    line-height: 2em;
    position: absolute;
    right: 5%;
    top: 5%;
    font-weight: 800;
}

#title-section {
    color: #fff;
    position: absolute;
    left: 10%;
    bottom: 20%;
}

#title-section h4 {
    margin-left: 145px;
}

#title-section h4 span {
    display: inline-block;
    position: relative;
}

#title-section h4 span:after {
    content: "";
    position: absolute;
    height: 3px;
    border-top: 1.5px solid #fff;
    bottom: 0%;
    right: 0;
    width: 130px;
}

#title-section h4 span:after {
    margin-right: 10px;
}

#title-section h1 {
    font-size: 4rem;
}

#title-section p {
    width: 40%;
    line-height: 1.66em;
}

/* ///////////////////// */
#about {
    height: 600px;
    position: relative;
}

#nature {
    position: absolute;
    right: 5%;
    top: -15%;
    background-color: #aaa;
    width: 60%;
    height: 100%;
    box-shadow: 1px 5px 30px 0 rgba(0, 0, 0, .5);
}

#nature #nature-left {
    width: 50%;
    height: 100%;
    background: #fcfcfc;
    display: inline-block;
}

#nature #nature-left #mountains {
    width: 100%;
    height: 60%;
    background: url('img/mountains.png');
    background-size: cover;
    opacity: .5;
    box-shadow: inset -2px -10px 30px 30px rgba(255, 255, 255, 1);
}

#nature #nature-right {
    width: 50%;
    height: 100%;
    float: right;
    background-color: #fcfcfc;
}

#nature #nature-right hr {
    width: 15%;
    margin: 100px 0 0 20px;
    opacity: .5;
}

#nature #nature-right h1 {
    font-size: 3rem;
    margin-left: 20px;
}

#nature #nature-right p {
    margin: 100px 0 0 20px;
    width: 80%;
    line-height: 1.6em;
}

#blue-hole {
    background: url('img/blue-hole.jpg');
    background-size: cover;
    background-position: 100% 100%;
    height: 80%;
    width: 50%;
    position: absolute;
    left: 12%;
    top: 40%;
    box-shadow: -4px 1px 10px 2px rgba(0, 0, 0, .5);
}

#blue-hole #blue-sidebar {
    width: 15%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    float: right;
    box-shadow: inset -10px -80px 100px 2px rgba(0, 0, 0, .6), -5px 5px 25px 2px rgba(0, 0, 0, 1);;
}

#blue-hole ul {
    text-align: center;
    margin-top: 100px;
}

#blue-hole ul li {
    margin: 30px 0 30px;
}

#blue-hole img {
    width: 65%;
    opacity: .4;
}

#blue-hole img:hover {
    transform: scale(1.3);
    opacity: 1;
    cursor: pointer;
}


/* ////////////////// */
#adventure {
    height: 450px;
    padding-top: 200px;
    background: #fff;
}

#adventure #jungle {
    width: 30%;
    height: 80%;
    text-align: center;
    display: inline-block;
}

#adventure #jungle img {
    width: 90%;
    margin-left: 60px;
    opacity: .9;
}

#adventure #jungle-txt {
    display: inline-block;
    width: 65%;
    float: right;
    height: 80%;
}

#adventure #jungle-txt hr {
    width: 7%;
    opacity: .5;
    margin-top: 20px;
}

#adventure #jungle-txt h1 {
    font-size: 3rem;
}

#adventure #jungle-txt p {
    margin-top: 20px;
    width: 40%;
    float: left;
    line-height: 1.6em;
}

#adventure #jungle-txt-right {
    float: right;
    display: inline-block;
    margin-left: 40px;
}


/* ////////////////////////////// */
.slide-show {
    position: relative;
    background: url('img/bg3.jpg');
    background-size: cover;
    height: 600px;
}

.slide-show .slides{
    margin: 0 auto;
    width: 80%;
    height: 600px;
    background-size: contain;
}

.btn-left {
    position: absolute;
    left: 9.5%;
    top: 45%;
}

.btn-right {
    position: absolute;
    right: 11%;
    top: 45%;
}

.slide-show button {
    background: rgba(255, 255, 255, .5);
}

.slide-show button:hover {
    background: rgba(19, 128, 19, 1);
    transition: all .3s ease-in;
}


/* //////////////////// */
#icon-bar {
    margin-top: 40px;
    width: 100%;
    height: 80px;
}

#icon-bar ul {
    text-align: center;
}

#icon-bar ul li {
    display: inline-block;
    margin: 0 20px 0 20px;
}

#icon-bar img {
    width: 75px;
    opacity: 1;
}

#icon-txt li {
    padding: 0 20px 0 19px;
}



/* //////////////// */
#random-txt {
    margin-top: 60px;
    text-align: center;
}

#bold-txt {
    font-weight: 600;
    width: 20%;
    text-align: right;
    display: inline-block;
    line-height: 1.4em;
}

#bold-txt span {
    font-size: 2em;
    text-transform: uppercase;
    margin-right: 5px;
    color: #005f00;
}

#text-one {
    display: inline-block;
    margin-left: 60px;
    width: 20%;
    line-height: 1.9em;
}

#text-two {
    display: inline-block;
    margin-left: 60px;
    width: 20%;
    line-height: 1.9em;
}


/* ////////////// */
#ruins {
    height: 1100px;
    margin-top: 40px;
    background: url('img/ruins3.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    color: #fff;
}

#exploration {
    position: absolute;
    top: 50%;
    left:50%;
    background: rgba(0, 0, 0, .5);
    box-shadow: -5px 5px 10px 1px rgba(0, 0, 0, 1);
    border-top: 1px solid rgba(0, 0, 0, .3);
}

#exploration hr {
    background: #000;
    height: 1px;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 1); 
}

#exploration h1 {
    font-size: 3em;
    margin: 20px 0 0 30px;
}

#exploration p {
    width: 30%;
    margin: 10px 0 0 30px;
    line-height: 1.4em;
    font-size: 1.2rem;
}

#exploration button {
    color: #fff;
    margin: 30px 0 20px 30px;
    border: 1.5px solid #fff;
}

/* ///////////////////// */
#stay {
    height: 600px;
    position: relative;
}

#lodging {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 50%;
    height: 80%;
    box-shadow: 1px 5px 30px 0 rgba(0, 0, 0, .5);
    z-index: 1;
}

#lodging #lodging-left {
    width: 50%;
    height: 100%;
    display: inline-block;
    background-color: #fcfcfc;
}

#lodging #lodging-left hr {
    width: 15%;
    margin: 30px 0 0 30px;
    opacity: .5;
}

#lodging #lodging-left h1 {
    font-size: 3rem;
    margin-left: 20px;
}

#lodging #lodging-left p {
    margin: 20px 0 0 20px;
    width: 80%;
    line-height: 1.6em;
}

#lodging #lodging-left button {
    margin-top: 30px;
}

#lodging #lodging-right {
    width: 50%;
    height: 100%;
    float: right;
    display: inline-block;
   background: #fff;
    z-index: 4;
}

#lodging #lodging-right #artwork {
    width: 100%;
    height: 70%;
    background: url('img/mayan-art.jpg') no-repeat;
    opacity: .45;
    background-size: 98%;
}

#hotel {
    background: url('img/bg9.jpg');
    background-size: cover;
    background-position: 100% 100%;
    height: 70%;
    width: 45%;
    position: absolute;
    left: 30%;
    top: 50%;
    box-shadow: -4px 1px 15px 2px rgba(0, 0, 0, .5);
    z-index: 2;
}

#flag {
    background: url('img/flag.jpg');
    background-size: contain;
    background-position: center;
    width: 65%;
    height: 99%;
    opacity: .2;
    position: absolute;
    right: 12%;
    top: 0%;
    box-shadow: -4px 1px 15px 2px rgba(0, 0, 0, .5);
    z-index: 0;
}


/* /////////////////////// */
#img-gallery {
    margin: 122px 0 280px 0;
    height: 600px;
}

#img-gallery h1 {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 3rem;
}

#img-gallery span {
    margin: 0 auto;
}

#left-img-box {
    height: 93%;
    width: 40%;
    margin: 0 20px 0 50px;
    background: url('img/bg17.jpeg');
    background-size: cover;
    display: inline-block;
}

#mid-img-box {
    height: 93%;
    width: 30%;
    margin-right: 20px;
    display: inline-block;
}

#mid-img-box #mid-top {
    height: 50%;
    width: 100%;
    background: url('img/bg18.jpg');
    background-size: cover;
}

#mid-img-box #mid-btm {
    height: 50%;
    width: 100%;
    margin-top: 10px;
    background: url('img/bg16.jpeg');
    background-size: cover;
}

#right-img-box {
    background: url('img/bg15.jpeg');
    background-position: center;
    background-size: cover;
    height: 90%;
    width: 20%;
    display: inline-block;
}

/* //////////////// */
footer {
    background: url('img/bg13.jpeg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 800px;
    color: #fff;
    position: relative;
}

#text-box {
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
}

#text-box h1 {
    font-size: 3rem;
    font-weight: 800;
}

#text-box h4 {
    font-weight: 600;
}

#text-box button {
    border: 1.5px solid #fff;
    color: #fff;
    margin-top: 30px;
}

#social-media {
    margin-top: 30px;
}

#social-media ul {

}

#social-media ul li {
    display: inline;
    margin: 0 20px 0 20px;
}

#social-media a {
    color: #fff;
    font-size: 3rem;
}

#copyright {
    position: absolute;
    top: 50%;
    right: 38%;
    font-size: 1.5rem;
}


